<div class="theme-toggle">
  <input type="checkbox" id="theme-switch">
  <label for="theme-switch">
    <div class="toggle"></div>
    <div class="names">
      <p class="light">Light</p>
      <p class="dark">Dark</p>
    </div>
  </label>
</div>

{%- assign name = 'night_mode' -%}
{%- include functions.html func='get_value' default='auto' -%}
{%- assign night_mode = return -%}

<script>
// Using a local variable since stack overflow doesn't allow localstorage operations for security purposes.
var sw = document.getElementById('theme-switch');
var html = document.getElementsByTagName('html')[0];
if (localStorage.getItem('darkMode') === 'null'){
localStorage.setItem('darkMode', 'disabled');
}
console.log('1', localStorage.getItem('darkMode'))

function userprefersDarkMode() {
  //return localStorage.getItem("darkMode") === "enabled";
  let darkMode = localStorage.getItem('darkMode');
  return darkMode === "enabled";
}

function setThemePreference(value) {
  // localStorage.setItem("darkMode", value || "disabled");
  localStorage.setItem('darkMode', value||'disabled');
}

const enableDarkMode = () => {
  // 1. Add the class to the body
  html.dataset.theme = "dark";
};

const disableDarkMode = () => {
  // 1. Remove the class from the body
  html.dataset.theme ="light";
};


function setTheme() {
  // If the user already visited and enabled darkMode
  // start things off with it on
  if (userprefersDarkMode()) {
    enableDarkMode();
  } else {
    disableDarkMode();
  }
  const appDiv = document.getElementById("app");
  appDiv.innerHTML = `<h1>Dark mode: ${userprefersDarkMode()}</h1>`;
}

function bootstrap() {
  //sw.addEventListener('change', function(event) {
  //  handleThemeToggle(event.target.checked);
  //});
     //const darkModeToggleButton = document.querySelector("#mode");
sw.addEventListener('change', function(event) {
  if (userprefersDarkMode()) {
    setThemePreference("disabled");
    disableDarkMode();
  } else {
    setThemePreference("enabled");
    enableDarkMode();
  }
  console.log('2',localStorage.getItem('darkMode'));
  const appDiv = document.getElementById("app");
  appDiv.innerHTML = `<h1>Dark mode: ${userprefersDarkMode()}</h1>`;
});

setTheme();
console.log('3',localStorage.getItem('darkMode'));
}

 document.addEventListener("DOMContentLoaded", function(event) {
     // Your code to run since DOM is loaded and ready
     bootstrap()
  });
</script>
